@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*body {*/
/*  color: var(--foreground);*/
/*  background: var(--background);*/
/*  font-family: Arial, Helvetica, sans-serif;*/
/*}*/

body {
  background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: flex-start;*/
}

button:hover { background-color: #2563eb; }

input, textarea, select {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
}